<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Smart Home - Schedule</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="dashboard-body">
    <div class="header">
        <h1>Schedule</h1>
        <p class="subtitle">Automate your devices.</p>
    </div>
    <div class="card" style="width: 100%; aspect-ratio: auto; padding: 20px;">
        <h3>Add New Schedule</h3>
        <input type="time" class="input-field" style="margin-top: 10px;">
        <button class="btn-primary">Save Schedule</button>
    </div>
</body>

</html>